
<footer class="footer_section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-3 footer-col">
				<div class="footer_detail">
					<h4>Giới thiệu</h4>
					<p>Đây là một thiết bị vô cùng hiện đại và sở hữu những tính
						năng vô cùng nổi bật. Có thể kể đến như: xem giờ, hẹn giờ, báo
						thức,… sản phẩm còn đem đến cho người dùng những lợi ích như: chăm
						sóc sức khỏe, đo nhịp tim, bước đi,…</p>
					<div class="footer_social">
						<a href=""> <i class="fa fa-facebook" aria-hidden="true"></i>
						</a> <a href=""> <i class="fa fa-twitter" aria-hidden="true"></i>
						</a> <a href=""> <i class="fa fa-linkedin" aria-hidden="true"></i>
						</a> <a href=""> <i class="fa fa-instagram" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 footer-col">
				<div class="footer_contact">
					<h4>Liên Hệ</h4>
					<div class="contact_link_box">
						<a
							href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+Cao+%C4%91%E1%BA%B3ng+FPT+Polytechnic+C%E1%BA%A7n+Th%C6%A1/@9.9744365,105.7520242,19z/data=!4m10!1m2!2m1!1zY2FvIMSR4bqzbmcgZnB0!3m6!1s0x31a089fe199db9f3:0x9bb96a1b28867262!8m2!3d9.9744365!4d105.7527221!15sCg9jYW8gxJHhurNuZyBmcHSSARdlZHVjYXRpb25hbF9pbnN0aXR1dGlvbuABAA!16s%2Fg%2F11try1y8_v?entry=ttu">
							<i class="fa fa-map-marker" aria-hidden="true"></i> <span>
								XQF3+Q3H, Thường Thạnh, Cái Răng, Cần Thơ, Việt Nam </span>
						</a> <a href=""> <i class="fa fa-phone" aria-hidden="true"></i> <span>
								Call +01 1234567890 </span>
						</a> <a href=""> <i class="fa fa-envelope" aria-hidden="true"></i>
							<span> NVA3@gmail.com </span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 footer-col">
				<div class="footer_contact">
					<h4>Đăng Kí</h4>
					<form action="#">
						<input type="text" placeholder="Enter email" />
						<button type="submit">Đăng Kí</button>
					</form>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 footer-col">


				<iframe
					src="https://www.google.com/maps/d/u/0/embed?mid=1aen_-O93RFKqRV0c8IiKfu7eNMpigHk&ehbc=2E312F"
					width="340" height="340"></iframe>

			</div>
		</div>
		<div class="footer-info">
			<p>
				&copy; <span id="displayYear"></span> All Rights Reserved By <a
					href="">NVA3</a>
			</p>
		</div>
	</div>
</footer>