
<header class="header_section">
			<div class="container-fluid">
				<nav class="navbar navbar-expand-lg custom_nav-container ">
					<a class="navbar-brand" href="/index"> <span> SMARTWATCH
							NVA3 </span>
					</a>

					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class=""> </span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav">
							<li class="nav-item"><a class="nav-link" href="/index">TRANG
									CHỦ</a></li>
							<li class="nav-item active"><a class="nav-link"
								href="/watches"> SẢN PHẨM </a></li>
							<li class="nav-item"><a class="nav-link" href="/about">
									GIỚI THIỆU </a></li>
							<li class="nav-item"><a class="nav-link" href="/contact">LIÊN
									HỆ</a></li>
						</ul>
						<div class="user_option-box">
							<div class="btn-group">
								<li type="button" class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="false"><span class="fa fa-user"></span>
									<span class="caret">${tenkh}</span></li>
								<div class="dropdown-menu dropdown-menu-right " style="width: 250px">
							<li>${dn}</li>

							<li>${qk}</li>
							<li>${dk}</li>


						</div>
							</div>
							
							<a href="/dathang"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
							<a href="/cart"> <i class="fa fa-cart-plus"
								aria-hidden="false"></i>
							</a> <input type="text" class="form-control ml-3"
								placeholder="Bạn muốn tìm gì..?" name="tiemkiem">
							<div class="input-group-prepend">
								<a href="/tiemkiemdonhang"><i class="fa fa-search" aria-hidden="true"></i></a>
							</div>

						</div>
					</div>
				</nav>
			</div>
		</header>