<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="card mb-2">
        <div class="card-header">
			    AUTHORIZING
			  </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col" ng-repeat="role in roles">{{role.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="acc in admins">
                            <td>{{acc.fullname}}</td>
                            <td ng-repeat="role in roles">
                                <input type="checkbox" ng-checked="authorityOf(acc, role)"
                                    ng-click="authorityChanged(acc, role)">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>